*.aux
*.log
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.bat
*.run.xml
*.synctex.gz
*.toc
*.db
\corevenv
\logs
\logs_marl
\models
\models_marl
\tests
\__pycache__